---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogCard from "@components/blog/BlogCard.astro";
import Container from "@components/utils/Container.astro";
import { getCollection } from "astro:content";
import H1 from "@components/typography/H1.astro";
import HeroTitle from "@components/typography/HeroTitle.astro";
const posts = await getCollection("blog", (p) => p.data.published === true);
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<BaseLayout metaTitle="Blog - andberry.me">
  <article>
    <Container size="lg">
      <header class="pt-32 pb-8 2xl:pt-48">
        <HeroTitle>
          <span class="dark:u-text-bg-gradient-pink u-text-bg-gradient-pink-2"
            >Berry's Blog</span
          >
        </HeroTitle>
      </header>
      <section class="pb-24">
        {
          posts && (
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-x-16 gap-y-20">
              {posts.map((post) => (
                <BlogCard
                  title={post.data.title}
                  url={`/blog/${post.id}`}
                  heroImage={post.data.heroImage}
                  tags={post.data.tags}
                  slug={post.id}
                />
              ))}
            </div>
          )
        }
      </section>
    </Container>
  </article>
</BaseLayout>
