---
import BlogCardTitle from "@components/typography/BlogCardTitle.astro";
import BlogTag from "./BlogTag.astro";
import BlogCta from "./BlogCta.astro";
export interface Props {
  url: string;
  title: string;
  heroImage: string;
  tags?: string[];
}

const { url, title, heroImage, tags } = Astro.props;
---

<article>
  <a href={url} class="block">
    {
      heroImage && (
        <div class="aspect-video overflow-hidden rounded-md">
          <div class="w-full h-full relative">
            <img
              src={heroImage}
              alt=""
              class="object-cover object-center translate-y-"
            />
          </div>
        </div>
      )
    }
  </a>

  <div class="relative">
    <a href={url}>
      <BlogCardTitle>{title}</BlogCardTitle>
    </a>
  </div>

  <div class="flex justify-between items-center mt-4">
    <div class="flex gap-2">
      {tags && tags.map((t) => <BlogTag name={t} />)}
    </div>
    <BlogCta url={url} />
  </div>
</article>
