---
import BlogCardTitle from "@components/typography/BlogCardTitle.astro";
import BlogTag from "./BlogTag.astro";
import BlogCta from "./BlogCta.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  url: string;
  title: string;
  heroImage: CollectionEntry<"blog">["data"]["heroImage"];
  tags?: string[];
}

const { url, title, heroImage, tags } = Astro.props;
---

<article class="grid grid-rows-subgrid row-span-2 gap-3">
  <a href={url} class="block group">
    <span class="sr-only">{title}</span>
    {
      heroImage && (
        <div class="aspect-video overflow-hidden rounded-md">
          <div class="w-full h-full relative">
            <Image
              src={heroImage}
              alt=""
              class="object-cover object-center transition-all ease-in-out duration-300 scale-100 group-hover:scale-105 group-hover:-translate-y-1"
              widths={[360, 640, 768, 1280, 1440]}
              sizes="(min-width: 1280px) 33vw, (min-width: 768px) 50w, 100vw"
            />
          </div>
        </div>
      )
    }

    <BlogCardTitle
      class:list={[
        "transition-all duration-200 ease-out",
        "group-hover:text-purple dark:group-hover:text-pink",
        "before:block before:h-[calc(100%-20px)] before:absolute before:left-0 before:top-[12px] before:bg-purple before:opacity-0",
        "before:translate-x-0 before:w-1",
        "group-hover:before:opacity-100 group-hover:before:-translate-x-3",
        "before:transition-all before:ease-out before:duration-200",
        "relative block",
      ]}
    >
      {title}
    </BlogCardTitle>
  </a>

  <div class="flex justify-between items-center">
    <div class="flex gap-2">
      {tags && tags.map((t) => <BlogTag name={t} />)}
    </div>
    <BlogCta url={url} />
  </div>
</article>
