---
import BlogCardTitle from "@components/typography/BlogCardTitle.astro";
import BlogTag from "./BlogTag.astro";
import BlogCta from "./BlogCta.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  url: string;
  title: string;
  heroImage: CollectionEntry<"blog">["data"]["heroImage"];
  tags?: string[];
}

const { url, title, heroImage, tags } = Astro.props;
---

<article>
  <a href={url} class="block group">
    {
      heroImage && (
        <div class="aspect-video overflow-hidden rounded-md">
          <div class="w-full h-full relative">
            <Image
              src={heroImage}
              alt=""
              class="object-cover object-center transition-all ease-in-out duration-300 scale-100 group-hover:scale-105 group-hover:-translate-y-1"
              widths={[360, 640, 768, 1280, 1440]}
              sizes="(min-width: 1280px) 33vw, (min-width: 768px) 50w, 100vw"
            />
          </div>
        </div>
      )
    }
  </a>

  <div class="relative">
    <a
      href={url}
      class="before:block before:h-full before:absolute before:left-0 before:bg-greenyellow before:opacity-0 before:translate-x-0 before:w-1 hover:before:opacity-100 hover:before:-translate-x-2 group before:transition-all before:ease-out before:duration-200"
    >
      <BlogCardTitle
        class="group-hover:text-pink transition-all duration-200 ease-out"
      >
        {title}
      </BlogCardTitle>
    </a>
  </div>

  <div class="flex justify-between items-center mt-4">
    <div class="flex gap-2">
      {tags && tags.map((t) => <BlogTag name={t} />)}
    </div>
    <BlogCta url={url} />
  </div>
</article>
