---
import BlogCardTitle from "@components/typography/BlogCardTitle.astro";
import BlogTag from "./BlogTag.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  url: string;
  title: string;
  heroImage: CollectionEntry<"blog">["data"]["heroImage"];
  tags?: string[];
}

const { url, title, heroImage, tags } = Astro.props;
---

<article class="grid grid-rows-subgrid row-span-2 gap-1">
  <a href={url} class="block group">
    <span class="sr-only">{title}</span>
    {
      heroImage && (
        <div class="aspect-video overflow-hidden rounded-md">
          <div class="w-full h-full relative">
            <Image
              src={heroImage}
              alt=""
              class:list={[
                "object-cover object-center w-full h-full",
                "transition-all ease-outQuint duration-500",
                "scale-100",
                "group-hover:scale-105 group-hover:-translate-y-1",
              ]}
              widths={[375, 840, 1280, 1440]}
              sizes="(min-width: 1440px) 420px, (min-width: 1280px) 30vw, (min-width: 768px) 45vw, 100vw"
            />
          </div>
        </div>
      )
    }

    <BlogCardTitle
      class:list={[
        "transition-all duration-200 ease-out",
        "group-hover:text-purpleLight dark:group-hover:text-purpleLight",
        "relative block",
      ]}
    >
      {title}
    </BlogCardTitle>
  </a>
  <div class="@container/blogcardfooter">
    <div class="justify-between flex gap-8 items-start">
      <div
        class:list={[
          "flex gap-2 flex-wrap @2xs/blogcardfooter:mb-0 @2xs/blogcardfooter:mt-0",
        ]}
      >
        {tags && tags.map((t) => <BlogTag name={t} />)}
      </div>
    </div>
  </div>
</article>
